## <center>Preprocesamiento de datos para **World University Rankings 2023</center>**

<div style="text-align: justify;">
Como primer paso, se importó el conjunto de datos usando la librería <b>Pandas</b> de Python. Posteriormente se hizo una pequeña inspección de los mismos para tener una idea de su magnitud.
</div>

In [2]:
import pandas as pd

data = pd.read_csv("/home/danielhz19/Documents/VSCode/UCV/ELECTIVAS/DM/Practica/Asignacion1/World University Rankings 2023.csv")
df = pd.DataFrame(data)


print(data.shape)

(2341, 13)

<div style="text-align: justify;">
Dado la gran cantidad de filas en el conjunto de datos, se decidió inspeccionar mas a fondo usando Excel como herramienta de visualización.
</div>

![Captura de pantalla al momento de importar los datos en Excel](/home/danielhz19/Documents/VSCode/UCV/ELECTIVAS/DM/Practica/Asignacion1/images/DM_Asig1_ExcelDataImport.PNG)

<div style="text-align: justify;">
Se detectaron varios problemas funcionales, como pueden ser la inconsistencia de los valores en la columna "University Rank", dado que a partir de la observación 200, dichos valores se convierten en un rango en lugar de un valor específico y la existencia del valor "Reporter", a pesar de ser valores validos dentro del sistema mundial de ranking universitario, pueden presentar problemas al momento de procesar los datos. De igual forma ocurre con el campo "Name of University" puesto que hay observaciones con el valor: <b>NaN</b>, cabe destacar que algunas de estas observaciones poseen datos en las demás columnas, sin embargo, el nombre de una universidad no es algo que podamos estimar con dichos datos. en la columna destinada a almacenar la ubicación de la universidad también existe un problema funcional, puesto que los campos vacíos podrían afectar al momento de procesar los datos.
</div>

<div style="text-align: justify;">
Como primera accion, se filtraron las observaciones que tenian en la columna "Name of University" un valor invalido, es decir, NaN o directamente un campo vacio.
</div>

In [4]:
invalid_names = df['Name of University'].isna()
df.drop(df[invalid_names].index, inplace=True)

print(df)

     University Rank                     Name of University        Location  \
0                  1                   University of Oxford  United Kingdom
1                  2                     Harvard University   United States
2                  3                University of Cambridge  United Kingdom
3                  3                    Stanford University   United States
4                  5  Massachusetts Institute of Technology   United States
...              ...                                    ...             ...
2336               -     University of the West of Scotland             NaN
2337               -                  University of Windsor             NaN
2338               -            University of Wolverhampton             NaN
2339               -                University of Wuppertal             NaN
2340               -    Xi’an Jiaotong-Liverpool University             NaN

     No of student  No of student per staff International Student  \
0           20,965                     10.6                   42%
1           21,887                      9.6                   25%
2           20,185                     11.3                   39%
3           16,164                      7.1                   24%
4           11,415                      8.2                   33%
...            ...                      ...                   ...
2336           NaN                      NaN                   NaN
2337           NaN                      NaN                   NaN
2338           NaN                      NaN                   NaN
2339           NaN                      NaN                   NaN
2340           NaN                      NaN                   NaN

     Female:Male Ratio OverAll Score  Teaching Score  Research Score  \
0              48 : 52          96.4            92.3            99.7
1              50 : 50          95.2            94.8            99.0
2              47 : 53          94.8            90.9            99.5
3              46 : 54          94.8            94.2            96.7
4              40 : 60          94.2            90.7            93.6
...                ...           ...             ...             ...
2336               NaN     34.0–39.2            24.1            15.5
2337               NaN     34.0–39.2            35.1            29.4
2338               NaN     34.0–39.2            18.2            14.3
2339               NaN     34.0–39.2            26.4            26.7
2340               NaN     34.0–39.2            17.8            14.8

      Citations Score  Industry Income Score  International Outlook Score
0                99.0                   74.9                         96.2
1                99.3                   49.5                         80.5
2                97.0                   54.2                         95.8
3                99.8                   65.0                         79.8
4                99.8                   90.9                         89.3
...               ...                    ...                          ...
2336             61.5                   37.9                         76.8
2337             34.5                   44.2                         88.7
2338             68.8                   37.3                         72.0
2339             52.8                   52.1                         47.6
2340             68.2                   38.2                         72.4

[2233 rows x 13 columns]

<div style="text-align: justify;">
Para los campos vacíos en la columna Location, se decidió sustituir dichos valor por un valor "Unknown", a pesar de que se puede completar este campo de forma manual utilizando el nombre de la universidad.
</div>

In [24]:
df['Location'].fillna('Unknown', inplace=True)
print(df['Location'])

0       United Kingdom
1        United States
2       United Kingdom
3        United States
4        United States
             ...
2336           Unknown
2337           Unknown
2338           Unknown
2339           Unknown
2340           Unknown
Name: Location, Length: 2233, dtype: object

<div style="text-align: justify;">
Para la variable "No of student" se notaron ciertas inconsistencias en los valores, ya que existen universidades con un valor no entero de estudiantes, además de ello se encontraron observaciones con valores muy bajos. En este caso el primer paso fue modificar el formato de representación a valores enteros, posteriormente se puede calcular un promedio de estudiantes de las universidades de un mismo país, de esa forma se pueden corregir las inconsistencias mencionadas anteriormente.
</div>

In [43]:
df['No of student'] = df['No of student'].str.replace(',','')
df['No of student'] = pd.to_numeric(df['No of student'], errors = 'coerce')
print(df)

AttributeError: Can only use .str accessor with string values!

In [44]:
def lessThan1000(value):
    return value < 1000

valid_df = df[~df['No of student'].apply(lessThan1000)]

avg_students_by_location = valid_df.groupby('Location')['No of student'].mean()

def replaceWithAVG(row):
    if lessThan1000(row['No of student']):
        if row['Location'] == 'Unknown':
            return row['No of student'] #Mantener valores originales para paises desconocidos
        else:
            return avg_students_by_location.get(row['Location'], row['No of student'])
    else:
        return row['No of student']
    
df['No of student'] = df.apply(replaceWithAVG, axis = 1)

print(df['No of student'])

0       20965.0
1       21887.0
2       20185.0
3       16164.0
4       11415.0
         ...
2336        NaN
2337        NaN
2338        NaN
2339        NaN
2340        NaN
Name: No of student, Length: 2233, dtype: float64

<div style="text-align: justify;">
Se pueden dividir en 2 columnas el ratio entre estudiantes de sexo masculino y femenino, de forma que sea más cómodo de procesar.
</div>

In [49]:
df['Female:Male Ratio'] = df['Female:Male Ratio'].str.replace(" : ", "")

def getFemaleRatio(ratio):
    if pd.isna(ratio):
        return None
    else:
        return str(ratio)[:2]
    
def getMaleRatio(ratio):
    if pd.isna(ratio):
        return None
    else:
        return str(ratio)[-2:]

df['Female students %'] = df['Female:Male Ratio'].apply(getFemaleRatio)
df['Male students %'] = df['Female:Male Ratio'].apply(getMaleRatio)

df = df.drop('Female:Male Ratio', axis=1)
print(df)

     University Rank                     Name of University        Location  \
0                  1                   University of Oxford  United Kingdom
1                  2                     Harvard University   United States
2                  3                University of Cambridge  United Kingdom
3                  3                    Stanford University   United States
4                  5  Massachusetts Institute of Technology   United States
...              ...                                    ...             ...
2336               -     University of the West of Scotland         Unknown
2337               -                  University of Windsor         Unknown
2338               -            University of Wolverhampton         Unknown
2339               -                University of Wuppertal         Unknown
2340               -    Xi’an Jiaotong-Liverpool University         Unknown

      No of student  No of student per staff International Student  \
0           20965.0                     10.6                   42%
1           21887.0                      9.6                   25%
2           20185.0                     11.3                   39%
3           16164.0                      7.1                   24%
4           11415.0                      8.2                   33%
...             ...                      ...                   ...
2336            NaN                      NaN                   NaN
2337            NaN                      NaN                   NaN
2338            NaN                      NaN                   NaN
2339            NaN                      NaN                   NaN
2340            NaN                      NaN                   NaN

     OverAll Score  Teaching Score  Research Score  Citations Score  \
0             96.4            92.3            99.7             99.0
1             95.2            94.8            99.0             99.3
2             94.8            90.9            99.5             97.0
3             94.8            94.2            96.7             99.8
4             94.2            90.7            93.6             99.8
...            ...             ...             ...              ...
2336     34.0–39.2            24.1            15.5             61.5
2337     34.0–39.2            35.1            29.4             34.5
2338     34.0–39.2            18.2            14.3             68.8
2339     34.0–39.2            26.4            26.7             52.8
2340     34.0–39.2            17.8            14.8             68.2

      Industry Income Score  International Outlook Score Female students %  \
0                      74.9                         96.2                48
1                      49.5                         80.5                50
2                      54.2                         95.8                47
3                      65.0                         79.8                46
4                      90.9                         89.3                40
...                     ...                          ...               ...
2336                   37.9                         76.8              None
2337                   44.2                         88.7              None
2338                   37.3                         72.0              None
2339                   52.1                         47.6              None
2340                   38.2                         72.4              None

     Male students %
0                 52
1                 50
2                 53
3                 54
4                 60
...              ...
2336            None
2337            None
2338            None
2339            None
2340            None

[2233 rows x 14 columns]